/* Стили для секции "Контакты" */
#contacts {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#contacts h2 {
    margin-bottom: 15px;
}

#contacts .social-links a {
    display: inline-block;
    margin: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

#contacts .social-links a i {
    margin-right: 8px;
}

#contacts .social-links a:hover {
    color: #0056b3;
    text-decoration: underline;
}
